body, html {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  color: rgba(255,255,255);
  font-size: 4vmin;
  font-family: cursive;
  text-align: center;
  padding-bottom: 6vmin;
}

input, button {
  font-size: 4vmin;
  font-family: cursive;
}

.image {
  display: flex;
  justify-content: center;
}
